<article class="HomePage">

    <h1 class="HomePage__title"> Welcome to the Todos Manager </h1>

    <% if current_user %>

        <section class="HomePage__path">
            <h3 class="HomePage__pathText">Hungry? Let's see what's cooking... </h3>
            <%= link_to("View Menu", new_cart_item_path, class: "HomePage__pathLink") %>
        </section>

    <% else %>

        <section class="HomePage__auth">
            <h3 class="HomePage__authText">New here? </h3>
            <%= link_to("Sign Up", new_user_path, class: "HomePage__authLink") %>
        </section>

        <section class="HomePage__auth">
            <h3 class="HomePage__authText">Already managing your todos here? </h3>
            <%= link_to("Sign In", new_session_path, class: "HomePage__authLink") %>
        </section>

    <% end %>

</article>
