<article class="OrdersCustomerPage">

        <h1 class="OrdersCustomerPage__title"> Order History </h1>

        <%= render partial: "orders/orderslist-section", locals: {
            editable: true,
            section_head: "Pending Orders",
            orders: @orders.pending,
            shrinkable: false
        } %>

        <%= render partial: "orders/orderslist-section", locals: {
            editable: false,
            section_head: "Past Orders",
            orders: @orders.handled,
            shrinkable: true
        } %>
</article>
