<article class="OrdersAdminPage">

        <section class="OrdersAdminPage__filterBlock">
          <%= form_with(url: "/orders")
        </section>

        <section class="OrderAdminPage__mainBlock">

          <% if current_user.check_role("billing_clerk") %>
            <h1 class="OrdersAdminPage__title"> Order Queue </h1>
          <% else %>
            <h1 class="OrdersAdminPage__title"> Order Queue </h1>
          <% end %>

          <%= render partial: "orderslist-section", locals: {
              editable: true,
              section_head: "Pending Orders",
              orders: @orders.pending,
              shrinkable: false
          } %>

          <% if current_user.check_role("owner") %>
            <%= render partial: "orderslist-section", locals: {
                editable: false,
                section_head: "Past Orders",
                orders: @orders.handled,
                shrinkable: true
            } %>
          <% end %>

        </section>

</article>
