<article class="ActiveMenuPage">

    <h1 class="ActiveMenusPage__title"> Menu </h1>
    <h3 class="ActiveMenuPage__subtitle"> Let's load that cart with mouth-watering food! </h3>

    <section class="ActiveMenuPage__listing">
        <% @menu_items.each do |menu_item| %>
            <div class="ActiveMenu__block" >

                <div class="ActiveMenu__activate" >
                        <span class="ActiveMenu__highlight">
                            <p class="ActiveMenu__nameText"> <%= menu_item.item.name %> </p>
                            <p class="ActiveMenu__priceText"> Rs.<%= menu_item.price %> </p>
                        </span>
                        <p class="ActiveMenu__descText"> <%= menu_item.item.description %> </p>
                </div>

                <div class="ActiveMenu__edit">
                    <img src="">
                </div>

                <div class="ActiveMenu__delete">
                    <img src="">
                </div>

            </div>
        <% end %>
    </section>

</article>
