.UsersListingPage{
    max-width: 1000px;
    margin: 40px auto;
}

.UsersListing__main{
    display: flex;
}

.UsersListing__title {
    font-weight: 600;
    letter-spacing: 0.14px;
    font-size: 20px;
    color: #453C52;
    line-height: 1.6;
    margin-bottom: 12px;
}

.UsersListing__subtitle{
    font-size: 18px;
    color: #453C52;
}

.UsersListing__main{
    margin-top: 50px;
}

.UsersList{
    width: 50%;
}

.UsersList__head{
    font-weight: 600;
    letter-spacing: 0.14px;
    font-size: 14px;
    color: #6b6a66;
    margin: 0 auto;
    margin-bottom: 12px;
    width: max-content;
}

.UsersList__block {
    display: block;
    width: 80%;
    box-shadow: 0 2px 4px 0 #b5b8bd;
    transition: 0.3s;
    margin: 20px auto;
    padding: 0 20px;
}

.UsersList__container{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.UsersList__info{
  margin: 0px 0px;
  width: 68%;
}

.UsersList__edit{
  border: 0 0 0 2px;
  width: 16%;
}

.UsersList__editLink{
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 100px;
  border-width: 1px;
  border-color: #525252;
  border-style: none;
}

.UsersList__editLink:hover{
  border-style: solid;
}

.UsersList__editIcon{
  display: block;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.UsersList__delete{
  border: 0 0 0 2px;
  width: 16%;
}

.UsersList__deleteLink{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 100px;
    border-width: 1px;
    border-color: #525252;
    border-style: none;
}

.UsersList__deleteLink:hover{
  border-style: solid;
}

.UsersList__deleteIcon{
  display: block;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.OwnersList__block{
    background: #d8f79e;
}

.ClerksList__block{
    background: #eaa98b;
}

.CustomersList__block{
    background: #9bd2ee;
}

.UsersList__block:hover {
    box-shadow: 0 12px 24px 0 #b5b8bd;
    transition: 0.1s;
}

.UsersList__text{
    padding: 4px;
}

.UsersList__nameText{
    font-size: 14px;
    font-weight: 600;
}

.UsersList__emailText{
    font-size: 14px;
}

.UsersList__addNew {
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    width: 240px;
    padding: 10px 10px;
    border-radius: 10px;
}

.UsersList__noUser {
  font-size: 14px;
  color: #6b6a66;
  width: max-content;
  margin: 0 auto;
  margin-top: 60px;
}

.UsersList__addLink {
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: #C3362B;
    border-right: 0px;
    border-left: auto;
}

.NewClerkPage{
    width: 600px;
    margin: 40px auto;
}

.NewClerkPage__title{
    font-size: 24px;
    color: #262927;
    margin-bottom: 16px;
}

.NewClerkPage__subtitle{
    font-size: 18px;
    color: #453C52;
    margin-left: 20px;
}

.NewClerk__submitButton{
    width: 100%;
    margin: 10px auto;
    border: 1px transparent;
    border-radius: 4px;
    padding: 8px 16px;
    background: #C3362B;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.EditClerkPage{
    width: 600px;
    margin: 40px auto;
}

.EditClerkPage__title{
    font-size: 24px;
    color: #262927;
    margin-bottom: 16px;
}

.EditClerkPage__subtitle{
    font-size: 18px;
    color: #453C52;
    margin-left: 20px;
}

.EditClerk__submitButton{
    width: 100%;
    margin: 10px auto;
    border: 1px transparent;
    border-radius: 4px;
    padding: 8px 16px;
    background: #014462b0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
