body {
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    margin: 40px auto;
    background-color: white;
}

.App__error {
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background: #f8d7da;
    padding-left: 20px;
}

.App__errorText {
    font-size: 12px;
    font-weight: 600;
    color: #8b1c24;
    padding: 8px;
}

.App__info {
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background: #d1ecf1;
    padding-left: 20px;
}

.App__infoText {
    font-size: 12px;
    font-weight: 600;
    color: #0c5484;
    padding: 8px;
}

.App__hrline {
    margin-bottom: 20px;
}

.App__header {
    margin-bottom: 40px;
}

.App__headerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.App__headerRight{
    display: flex;
    align-items: center;
}

.App__cartLink{
    margin-right: 20px;
}

.App__userText {
    font-size: 16px;
    font-weight: 600;
    color: #453C52;
    line-height: 1.4;
    margin-right: 20px;
    margin-left: 40px;
}

.App__signin, .App__signout {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    width: max-content;
    color: white;
    padding: 8px;
    margin-right: 40px;
}

.App__signin {
    background-color: #48BB78;
}

.App__signout {
    background-color: #941a18;
}

.HomePage{
    width: 600px;
    margin: 40px auto;
}

.HomePage__title {
    font-weight: 600;
    letter-spacing: 0.14px;
    font-size: 20px;
    color: #453C52;
    line-height: 1.6;
    margin-bottom: 12px;
}

.HomePage__auth {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.HomePage__authText {
    font-size: 16px;
    color: #453C52;
    line-height: 1.4;
    margin-left: 10px;
}

.HomePage__authLink {
    margin-left: 20px;
    font-size: 16px;
    color: #48BB78;
    line-height: 1.4;
    margin-left: 10px;
    font-weight: 600;
    text-decoration: none;
}

.HomePage__path {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.HomePage__pathText {
    font-size: 16px;
    color: #453C52;
    line-height: 1.4;
    margin-left: 10px;
}

.HomePage__pathLink {
    margin-left: 20px;
    font-size: 16px;
    color: #48BB78;
    line-height: 1.4;
    margin-left: 10px;
    font-weight: 600;
    text-decoration: none;
}
