.OrdersAdminPage{
    max-width: 900px;
    margin: 40px auto;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}

.OrdersAdminPage__title {
    font-weight: 600;
    letter-spacing: 0.14px;
    font-size: 20px;
    color: #453C52;
    line-height: 1.6;
    margin-bottom: 12px;
}

.OrdersAdminPage__subtitle{
    font-size: 18px;
    color: #453C52;
}

.OrdersAdminPage__filterBlock{
  width: 30%;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color: #453C52;
  margin-right: 60px;
  margin-top: 120px;
  padding: 10px 0px;
}

.OrderAdmin__filterField{
    width: max-content;
    margin: 20px auto;
}

.OrderAdmin__filterLabel{
    font-weight: 600;
    margin-left: 6px;
    color: #453C52;
    display: block;
    font-size: 14px;
    width: max-content;
    margin-bottom: 2px;
}

.OrderAdmin__inputField{
  margin: 4px 6px;
  height: 20px;
  width: 160px;
  text-align: center;
}

.OrderAdmin__dateField{
  font-family: inherit;
}

.OrderAdmin__statusField{
  height: 30px;
  width: 180px;
  background: inherit;
  text-decoration: none;
  border: solid;
  border-color: gray;
  border-width: 0.5px;
}

.OrderAdmin__apply{
  width: max-content;
  margin: 0 auto;
}

.OrderAdmin__applyFilters{
  width: 140px;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  border: 0px;
  padding: 4px;
  background: #453C52;
  color: #ffffff;
  margin: 20px;
}

.OrderAdminPage__mainBlock{
  width: 70%;
}

.OrdersAdminPage__listing {
    margin-top: 40px;
}

.Order__section{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Order__sectionHead{
    font-weight: 600;
    letter-spacing: 0.14px;
    font-size: 14px;
    color: #4a4f4b;
    margin-bottom: 6px;
}

.Order__block {
    display: flex;
    transition: 0.3s;
    width: 100%;
    margin: 30px 0px;
    margin-top: 20px;
    align-items:stretch;
}

.Order__info{
    margin: 0px 0px;
    width: 60%;
    padding: 20px;
    background: #edeae4c0;
}

.Order__info:hover{
    box-shadow: 0 2px 4px 0 #5f6361;
}

.Order__infoFull{
    width: 100%;
}

.Order__infoHead{
    background: #edeae4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.Order__infoLeft{
    display: flex;
    align-items: center;
}

.Order__handleDate{
  font-size: 14px;
  color: #464746;
  text-align: right;
  padding: 2px;
  font-weight: 400;
}

.Order__handleText{
  font-size: 16px;
  text-align: right;
  padding: 2px;
  font-weight: 600;
}

.Order__cancelText{
  color: #dc3c31;
}

.Order__deliverText{
  color: #80c080;
}

.Order__handleUser{
  font-size: 14px;
  color: #464746;
  text-align: right;
  padding: 2px;
  font-weight: 400;
}

.Order__multiplier{
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    padding: 2px;
}

.Order__nameText {
    margin-top: 10px;
    padding: 2px 20px;
    font-weight: 400;
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 1.4;
}

.Order__priceText {
  background: inherit;
  color: #014462b0;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  padding: 4px 0;
  width: max-content;
  margin-left: auto;
  margin-right: 0px;
}

.Order__descText{
    background: #edeae4;
    padding: 10px 20px;
    color: #014462b0;
    font-size: 12px;
    font-weight: 600;
}

.Order__markComplete{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #80c080;
    width: 20%;
}

.Order__markComplete:hover{
    box-shadow: 0 2px 4px 0 #80c080;
}

.Order__completeIcon{
    height: 100%;
}

.Order__delete{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #dc3c31b0;
    width: 20%;
}

.Order__delete:hover{
    box-shadow: 0 2px 4px 0 #dc3c31b0;
}

.Order__deleteIcon{
    height: 100%;
}

.Order__emptyText{
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: #767a77;
    padding: 10px;
}

.OrderAdminInvoicePage{
    max-width: 500px;
    margin: 40px auto;
    font-family: 'Open Sans', sans-serif;
}

.OrderAdminInvoicePage__title {
    font-weight: 600;
    letter-spacing: 0.14px;
    font-size: 20px;
    color: #453C52;
    line-height: 1.6;
    margin-bottom: 12px;
}

.OrderAdminInvoicePage__subtitle{
    font-size: 18px;
    color: #453C52;
}

.OrderAdminInvoicePage__subtitlePara{
  padding: 4px;
  font-size: 14px;
}

.OrderAdminInvoicePage__listing {
    margin-top: 40px;
}

.OrderAdminInvoice__block {
    display: flex;
    transition: 0.3s;
    width: 100%;
    margin: 20px 0px;
    align-items:stretch;
}

.OrderAdminInvoice__info{
    margin: 0px 0px;
    width: 80%;
    background: #edeae4c0;
}

.Order__orderLink{
  text-decoration: none;
  color: inherit;
}

.OrderAdminInvoice__infoHead{
    background: #edeae4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.OrderAdminInvoice__infoLeft{
    display: flex;
    align-items: center;
}

.OrderAdminInvoice__multiplier{
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    padding: 2px;
}

.OrderAdminInvoice__nameText {
    margin-top: 10px;
    padding: 2px 20px;
    font-weight: 400;
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 1.4;
}

.OrderAdminInvoice__priceText {
    background: inherit;
    color: #014462b0;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    padding: 4px 30px;
}

.OrderAdminInvoice__total{

    margin-left: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.OrderAdminInvoice__totalLabel{
    margin-top: 40px;
    font-weight: 600;
    font-color: #5d6063;
}

.OrderAdminInvoice__totalText{
    margin-top: 40px;
    color: #014462b0;
    font-size: 16px;
    font-weight: 600;
    margin-right: 60px;
}

.OrderAdminInvoice__total{
    display: flex;
    align-items: center;
    margin: 0px;
    margin-left: 10px;
    outline: none;
}

.boldText{
  font-weight: 600;
  margin-right: 4px;
}
