.SigninPage {
    font-family: 'Open Sans', sans-serif;
    max-width: 500px;
    margin: 50px auto;
    background-color: white;
    padding-left: 10px;
    margin-top: 50px;
}

.SigninPage__title {
    font-size: 20px;
    font-weight: 600;
    color: #262927;
    margin-bottom: 16px;
}

.SigninPage__subtitle {
    font-size: 18px;
    color: #453C52;
    margin-left: 5px;
}

.Signin__section {
    margin: 40px 20px;
}

.Signin__field {
    width: inherit;
    margin: 30px auto;
}

.Signin__label {
    margin-left: 2px;
    color: #453C52;
    display: block;
    font-size: 16px;
    width: 100px;
    margin-bottom: 6px;
}

.Signin__input {
    padding: 8px 1px;
    font-size: 16px;
    color: #1c1c1a;
}

.Signin__submit {
    width: 20%;
    margin: 10px auto;
    border: 1px transparent;
    border-radius: 4px;
    padding: 8px 16px;
    background: #48BB78;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
